<div class="row">
  <div class="col-12">
    <div
      class="flickity-button-white flickity-button-bottom pt-4"
      data-flickity='{"pageDots": false,"cellAlign": "left", "wrapAround": false, "imagesLoaded": true, "groupCells": true}'
    >
      <div
        class="col-12 col-md-5 col-lg-4 py-2"
        data-aos="fade-up"
        data-aos-delay="80"
      >
        <!-- Card -->
        <div class="card card-border" style="border-top-color: #174291">
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-75 svg-shim mx-auto">
              {{> artwork/educate }}
            </div>
            <h2 class="card-title-light font-700">Educate</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-0">Students on Mental Health</p>
            <br />
          </div>
          <!-- Footer -->
          <a class="card-meta" href="#!">
            <hr class="card-meta-divider" />
            <h6 class="text-uppercase ms-9 mb-0" style="color: #282c34">
              Learn More <span class="fe fe-arrow-right"></span>
            </h6>
          </a>
        </div>
      </div>
      <div
        class="col-12 col-md-5 col-lg-4 py-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <!-- Card -->
        <div class="card card-border" style="border-top-color: #174291">
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-75 svg-shim mx-auto">
              {{> artwork/inspire }}
            </div>
            <h2 class="card-title-light font-700">Inspire</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-0">Students to Walk Up</p>
            <br />
          </div>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <!-- Divider -->
            <hr class="card-meta-divider" />
            <h6 class="text-uppercase ms-9 mb-0" style="color: #282c34">
              Learn More <span class="fe fe-arrow-right"></span>
            </h6>
          </a>
        </div>
      </div>

      <div
        class="col-12 col-md-5 col-lg-4 py-2"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <!-- Card -->
        <div class="card card-border" style="border-top-color: #174291">
          <div class="card-body text-center">
            <!-- Icon  w-50 -->
            <div class="img-fluid mb-5 w-75 svg-shim mx-auto">
              {{> artwork/provide }}
            </div>
            <h2 class="card-title-light font-700">Provide</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-0">
              Long Term Mental Health Support to Your School
            </p>
          </div>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <!-- Divider -->
            <hr class="card-meta-divider" />
            <h6 class="text-uppercase ms-9 mb-0" style="color: #282c34">
              Learn More <span class="fe fe-arrow-right"></span>
            </h6>
          </a>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4 py-2">
        <!-- Card -->
        <div class="card card-border" style="border-top-color: #174291">
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-75 svg-shim mx-auto">
              {{> artwork/motivate }}
            </div>
            <h2 class="card-title-light font-700">Motivate</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-0">
              Students by Bringing Speakers to Campus
            </p>
          </div>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <!-- Divider -->
            <hr class="card-meta-divider" />
            <h6 class="text-uppercase ms-9 mb-0" style="color: #282c34">
              Learn More <span class="fe fe-arrow-right"></span>
            </h6>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-4 py-2">
        <!-- Card -->
        <div class="card card-border" style="border-top-color: #174291">
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-75 svg-shim mx-auto">
              {{> artwork/change }}
            </div>
            <h2 class="card-title-light font-700">Change</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-0">Lives and Bring Hope!</p>
            <br />
          </div>
          <!-- Meta -->
          <a class="card-meta" href="#!">
            <!-- Divider -->
            <hr class="card-meta-divider" />
            <h6 class="text-uppercase ms-9 mb-0" style="color: #282c34">
              Learn More <span class="fe fe-arrow-right"></span>
            </h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
