<div class="row">
  <div class="col-12">
    <!-- Flickity -->
    <div
      class="flickity-viewport-visible pt-2 pb-9"
      data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-12 col-md-5 col-lg-4">
        <!-- Card -->
        <div
          class="card card-border shadow-light-lg lift lift-lg"
          style="border-top-color: #e01a4f"
        >
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
              {{> artwork/wu-educate-icon }}
            </div>
            <h2 class="card-title-light font-700">Educate</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-5">Students on Mental Health</p>
            <!-- Link -->
            <a href="#!" class="text-gray-600"
              >Learn More <span class="fe fe-arrow-right"></span
            ></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <!-- Card -->
        <div
          class="card card-border shadow-light-lg lift lift-lg"
          style="border-top-color: #4078c0"
        >
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
              {{> artwork/wu-inspire-icon }}
            </div>
            <h2 class="card-title-light font-700">Inspire</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-5">Students to Walk Up</p>

            <!-- Link -->
            <a href="#!" class="text-gray-600"
              >Learn More <span class="fe fe-arrow-right"></span
            ></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <!-- Card -->
        <div
          class="card card-border shadow-light-lg lift lift-lg"
          style="border-top-color: #e01a4f"
        >
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
              {{> artwork/wu-provide-icon }}
            </div>
            <h2 class="card-title-light font-700">Provide</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-5">
              Long Term Mental Health Support to Your School
            </p>
            <a href="#!" class="text-gray-600"
              >Learn More <span class="fe fe-arrow-right"></span
            ></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <!-- Card -->
        <div
          class="card card-border shadow-light-lg lift lift-lg"
          style="border-top-color: #4078c0"
        >
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
              {{> artwork/wu-motivate-icon }}
            </div>
            <h2 class="card-title-light font-700">Motivate</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-5">
              Students by Bringing Speakers to Campus
            </p>
            <a href="#!" class="text-gray-600"
              >Learn More <span class="fe fe-arrow-right"></span
            ></a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-4">
        <!-- Card -->
        <div
          class="card card-border shadow-light-lg lift lift-lg"
          style="border-top-color: #e01a4f"
        >
          <div class="card-body text-center">
            <!-- Icon -->
            <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
              {{> artwork/wu-change-icon }}
            </div>
            <h2 class="card-title-light font-700">Change</h2>
            <!-- Text -->
            <p class="text-gray-700 mb-5">Lives and Bring Hope!</p>
            <!-- Link -->
            <a href="#!" class="text-gray-600"
              >Learn More <span class="fe fe-arrow-right"></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / .row -->
