<div class="row mt-n7">
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Image -->
        <div style="max-width: 130px">
          {{> animations/twenty-percent-circle }}
        </div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">One in Five</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-0">
          12 to 18 year olds suffer from some form of mental illness.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Icon -->
        <div
          class="icon d-inline-flex p-3 rounded-circle bg-secondary text-secondary"
        >
          {{> code/warning-2}}
        </div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">Thirteen Years Old</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-0">
          is the average age of the first incident of self-harm.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Image -->
        <div style="max-width: 130px">
          {{> animations/seventeen-percent-circle }}
        </div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">Seventeen Percent</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-0">
          of high school students seriously consider suicide.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Images -->
        <div class="row gx-0" style="max-width: 150px">
          <div class="col-4">
            <!-- Image -->
            <img
              class="w-150 rounded-1"
              src="assets/img/portfolio/person-1.svg"
              alt="..."
            />
          </div>
          <div class="col-4">
            <!-- Image -->
            <img
              class="w-150 mt-3 rounded-1"
              src="assets/img/portfolio/person-2.svg"
              alt="..."
            />
          </div>
          <div class="col-4">
            <!-- Image -->
            <img
              class="w-150 mt-5 rounded-1"
              src="assets/img/portfolio/person-3.svg"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">Ages 15 to 24</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-0">
          Suicide is the second leading cause of death amongst this age group.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Icon -->
        <div
          class="icon d-inline-flex p-3 rounded-circle bg-secondary text-secondary"
        >
          {{> home/couch}}
        </div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">80 to 90%</h3>

        <!-- Text -->
        <p class="text-gray-700 mb-0">
          of people that seek treatment for a mental illness are successful with
          therapy and medication.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-7">
    <!-- Card -->
    <div class="card h-100 bg-light shadow-sm rounded-3">
      <div class="card-body p-5 pb-0 my-auto">
        <!-- Icon -->
        <div style="max-width: 200px">{{> animations/us-heat-map}}</div>
      </div>
      <div class="card-body p-5">
        <!-- Heading -->
        <h3 class="fw-bold text-secondary">6.3 Million</h3>
        <!-- Text -->
        <p class="text-gray-700 mb-0">
          young people aged 3 to 17 suffer from anxiety or depression.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- / .row -->

{{!--
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div
      class="card card-border border-primary-desat shadow-lg mb-6 mb-md-8 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-2 font-weight-bold text-secondary">20%</h1>
        <!-- Text -->
        <p class="text-gray-900 mb-3">
          Nearly twenty percent of 12-18 year olds suffer from some form of
          mental illness
        </p>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div
      class="card card-border border-primary-desat shadow-lg mb-6 mb-md-8 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-2 font-weight-bold text-secondary">13</h1>
        <!-- Text -->
        <p class="text-gray-900 mb-3">
          The average age of the first incident of self-harm is 13
        </p>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div
      class="card card-border border-danger shadow-lg mb-6 mb-md-8 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-1 font-700 text-danger">
          <span
            data-countup='{"startVal": 0}'
            data-to="17"
            data-aos
            data-aos-id="countup:in"
            >0</span
          >%
        </h1>
        <!-- Text -->
        <p class="text-gray-900 mb-3">
          Nearly 20% of high school students seriously consider suicide
        </p>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div
      class="card card-border border-primary-desat shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Icon -->
        <div class="icon-circle bg-secondary text-white mb-5">
          <i class="fe fe-users"></i>
        </div>

        <!-- Heading -->
        <h4 class="font-weight-bold">15 to 24</h4>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          Suicide is the second leading cause of death amongst 15 to 24 year
          olds
        </p>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div
      class="card card-border border-danger shadow-lg mb-6 mb-md-0 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-1 font-700 text-danger">
          <span
            data-countup='{"startVal": 0}'
            data-to="90"
            data-aos
            data-aos-id="countup:in"
            >0</span
          >%
        </h1>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          80 to 90% of people that seek treatment for a mental illness are
          successful with therapy and medication
        </p>
      </div>
    </div>
  </div>

  <!-- Card -->
  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="card card-border border-primary-desat shadow-lg lift lift-lg">
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-2 font-700 text-secondary">6.3</h1>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          6.3 million young people aged 3 to 17 suffer from anxiety or
          depression
        </p>
      </div>
    </div>
  </div>
</div>
--}} {{!--
<div class="row justify-content-center">
  <!-- Cards Section Starts -->

  <div class="col-12 col-md-6 col-lg-4 d-flex card-flip-container">
    <!-- Card -->
    <div
      class="card shadow-lg mb-6 mb-md-8 lift lift-lg"
      onclick="this.classList.toggle('flipped');"
    >
      <div class="side front card-border border-danger">
        <div class="card-body text-center">
          <p class="text-gray-900">
            What percent of 12 to 18 year-olds suffer from some form of mental
            illness?
          </p>
          <div class="stats-container">
            <div class="stats">
              <h4>A</h4>
              <p>10%</p>
            </div>
            <div class="stats">
              <h4>B</h4>
              <p>20%</p>
            </div>
            <div class="stats">
              <h4>C</h4>
              <p>30%</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-link">
            {{> communication/forward }} View Answer
          </button>
        </div>
      </div>

      <div class="side back card-border border-danger">
        <div class="card-body text-center">
          <h4>Answer:</h4>

          <div class="stats-container">
            <div class="stats">
              <h4>A</h4>
              <p>10%</p>
            </div>
            <div class="stats-correct">
              <h4>B</h4>
              <p>20%</p>
            </div>
            <div class="stats">
              <h4>C</h4>
              <p>30%</p>
            </div>

            <p class="text-gray-900">
              Nearly twenty percent of 12 to 18 year olds suffer from mental
              illness.
            </p>
          </div>
        </div>
        <div class="footer">
          <button class="btn btn-link">{{> communication/reply }} Back</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex card-flip-container">
    <!-- Card -->
    <div
      class="card card-border border-primary-desat shadow-lg mb-6 mb-md-8 lift lift-lg"
      onclick="this.classList.toggle('flipped');"
    >
      <div class="card-body text-center side front">
        <!-- Heading -->
        <h1 class="display-2 font-weight-bold text-secondary">13</h1>
        <!-- Text -->
        <p class="text-gray-900 mb-3">
          The average age of the first incident of self-harm is 13
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <!-- Card -->
    <div
      class="card card-border border-danger shadow-lg mb-6 mb-md-8 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-1 font-700 text-danger">
          <span
            data-countup='{"startVal": 0}'
            data-to="17"
            data-aos
            data-aos-id="countup:in"
            >0</span
          >%
        </h1>
        <!-- Text -->
        <p class="text-gray-900 mb-3">
          Nearly 20% of high school students seriously consider suicide
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <!-- Card -->
    <div
      class="card card-border border-primary-desat shadow-lg mb-6 mb-md-8 mb-lg-0 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Icon -->
        <div class="icon-circle bg-secondary text-white mb-5">
          <i class="fe fe-users"></i>
        </div>

        <!-- Heading -->
        <h4 class="font-weight-bold">15 to 24</h4>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          Suicide is the second leading cause of death amongst 15 to 24 year
          olds
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <!-- Card -->
    <div
      class="card card-border border-danger shadow-lg mb-6 mb-md-0 lift lift-lg"
    >
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-1 font-700 text-danger">
          <span
            data-countup='{"startVal": 0}'
            data-to="90"
            data-aos
            data-aos-id="countup:in"
            >0</span
          >%
        </h1>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          80 to 90% of people that seek treatment for a mental illness are
          successful with therapy and medication
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 d-flex">
    <!-- Card -->
    <div class="card card-border border-primary-desat shadow-lg lift lift-lg">
      <div class="card-body text-center">
        <!-- Heading -->
        <h1 class="display-2 font-700 text-secondary">6.3</h1>

        <!-- Text -->
        <p class="text-gray-900 mb-3">
          6.3 million young people aged 3 to 17 suffer from anxiety or
          depression
        </p>
      </div>
    </div>
  </div>
  <!-- / Cards Section Ends -->
</div>
--}}
