<div class="row justify-content-center">
  <!-- CARD 1 -->
  <div class="col-12 col-md-6 col-lg-4 mb-6 d-flex">
    <div class="card flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card1" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              {{> feather/meh }}
            </div>

            <h5 class="question-header text-secondary">
              What percentage of 12-18 year olds suffer from mental illness?
            </h5>
            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto">
                {{> answers/card-one-choices }}
              </div>
            </div>
            <label
              for="card1"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span>A)</span>
              <div class="choice">
                <span class="pe-1">10%</span>
              </div>
            </div>
            <div class="answers">
              <span class="correct zap-05">B)&nbsp;20%</span>
            </div>
            <div class="answers">
              <span>C)</span>
              <div class="choice">
                <span class="pe-1">30%</span>
              </div>
            </div>

            <div class="description">
              <p>
                20% of 12 to 18 year olds suffer from some form of mental
                illness.
              </p>
            </div>

            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#1</div>

            <label
              for="card1"
              href="#!"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD 2 -->
  <div class="col-12 col-md-6 col-lg-4 mb-6 d-flex">
    <div class="card flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card2" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              <i class="fe fe-help-circle"></i>
            </div>
            <h5 class="question-header text-secondary">
              What is the average age of the first incident of self-harm?
            </h5>
            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto text-dark">
                {{> answers/card-two-choices }}
              </div>
            </div>

            <label
              for="card2"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span class="correct zap-04">A)&nbsp;13</span>
            </div>
            <div class="answers">
              <span>B)&nbsp;15</span>
            </div>
            <div class="answers">
              <span>C)&nbsp;17</span>
            </div>
            <div class="description">
              <p>
                The average age of the first incident of self-harm is 13 years
                old.
              </p>
            </div>
            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#2</div>
            <label
              for="card2"
              href="#!"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD 3 -->
  <div class="col-12 col-md-6 col-lg-4 mb-6 d-flex">
    <div class="flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card3" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              <i class="fe fe-alert-octagon"></i>
            </div>
            <h5 class="question-header text-secondary">
              What percent of high school students have considered suicide?
            </h5>
            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto">
                {{> answers/card-three-choices }}
              </div>
            </div>
            <label
              for="card3"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span>A)&nbsp;7%</span>
            </div>
            <div class="answers">
              <span>B)&nbsp;12%</span>
            </div>
            <div class="answers">
              <span class="correct zap-03">C)&nbsp;17%</span>
            </div>
            <div class="description">
              <p>17% of high school students seriously consider suicide.</p>
            </div>
            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#3</div>
            <label
              for="card3"
              href="#!"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD 4 -->
  <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
    <div class="card flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card4" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              <i class="fe fe-globe"></i>
            </div>
            <h5 class="question-header text-secondary">
              Suicide ranks where in the leading cause of death amongst 15-24yr
              olds?
            </h5>
            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto text-dark">
                {{> answers/card-four-choices }}
              </div>
            </div>
            <label
              for="card4"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span class="correct zap-06">A)&nbsp;2nd</span>
            </div>
            <div class="answers">
              <span>B)&nbsp;4th</span>
            </div>
            <div class="answers">
              <span>C)&nbsp;8th</span>
            </div>

            <div class="description">
              <p>
                Suicide is the 2nd leading case of death amongst 15-24 year
                olds.
              </p>
            </div>
            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#4</div>
            <label
              for="card4"
              href="#!"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD 5 -->
  <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
    <div class="card flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card5" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              <i class="fe fe-sun"></i>
            </div>
            <h5 class="question-header text-secondary">
              What percentage of people have success with therapy & medication?
            </h5>
            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto">
                {{> answers/card-five-choices }}
              </div>
            </div>
            <label
              for="card5"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span>A)&nbsp;30%</span>
            </div>
            <div class="answers">
              <span>B)&nbsp;50%</span>
            </div>
            <div class="answers">
              <span class="correct zap-07">C)&nbsp;80%</span>
            </div>

            <div class="description">
              <p>
                80 to 90% of people that seek treatment for a mental illness are
                successful with therapy & medication.
              </p>
            </div>
            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#5</div>
            <label
              for="card5"
              href="#!"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CARD 6 -->
  <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
    <div class="card flip-card shadow-lg lift lift-lg">
      <input type="checkbox" id="card6" class="more" aria-hidden="true" />
      <div class="content">
        <div class="front border border-gray-200">
          <div class="inner">
            <div class="icon-circle-sm bg-gray-200 text-dark mb-3">
              <i class="fe fe-users"></i>
            </div>
            <h5 class="question-header text-secondary">
              How many young people ages 3-17 suffer from anxiety or depression?
            </h5>

            <div class="rating pt-6">
              <div class="img-fluid w-100 svg-shim mx-auto text-dark">
                {{> answers/card-six-choices }}
              </div>
            </div>
            <label
              for="card6"
              class="badge text-dark rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-eye"></i>&nbsp; Answer
              </span>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <div class="answers">
              <span>A)&nbsp;3.5</span>
            </div>
            <div class="answers">
              <span>B)&nbsp;5.6</span>
            </div>
            <div class="answers">
              <span class="correct zap-02">C)&nbsp;6.3</span>
            </div>
            <div class="description">
              <p>
                6.3 million young people aged 3-17 suffer from anxiety or
                depression.
              </p>
            </div>
            <div class="header-prefix-left">Answer</div>
            <div class="header-prefix-right">#6</div>
            <label
              for="card6"
              class="badge rounded-pill bg-gray-200 button return"
              aria-hidden="true"
            >
              <span class="h6 text-uppercase text-dark">
                <i class="fe fe-arrow-left"></i>&nbsp; Return
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
