<section class="py-8 py-md-10 bg-black">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h2 class="display-3 section-header fw-bold text-white">Our Why</h2>
        <!-- Text -->
        <p class="fs-lg text-gray-500 mb-4mb-md-6">
          Take our quiz to
          <span class="text-white zap-04">Learn More</span> about your students
          and mental health.
        </p>

        <div class="row pt-2">
          <div class="col-md-6 col-lg-4">
            <!-- CARD 1 -->
            {{> our-why/card-1 }}
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- CARD 2 -->
            {{> our-why/card-2 }}
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- CARD 3 -->
            {{> our-why/card-3 }}
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- CARD 4 -->
            {{> our-why/card-4 }}
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- CARD 5 -->
            {{> our-why/card-5 }}
          </div>

          <div class="col-md-6 col-lg-4">
            <!-- CARD 6 -->
            {{> our-why/card-6 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
