<section class="py-8 py-md-10 bg-black bg-pattern-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h2 class="display-3 section-header fw-bold text-white">Our Team</h2>
        <h4 class="section-sub-header mb-6 mx-auto" style="max-width: 500px">
          Random <span class="text-white zap-02">placeholder</span> text here
          because I am not sure.
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Card -->
        <div class="card card-row shadow-light-lg mb-6">
          <div class="row gx-0">
            <div class="col-12 col-md-6">
              <!-- Slider -->
              <div
                class="card-img-slider"
                data-flickity='{"fade": true, "imagesLoaded": true, "adaptiveHeight": false, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'
              >
                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url(assets/img/avatars/team-brando.jpg);
                  "
                  href="#!"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/avatars/team-brando.jpg"
                    alt="..."
                    class="img-fluid invisible"
                  />
                </a>

                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url(assets/img/avatars/team-joey.jpg);
                  "
                  href="#!"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/avatars/team-joey.jpg"
                    alt="..."
                    class="img-fluid invisible"
                  />
                </a>

                <a
                  class="card-img-start w-100 bg-cover"
                  style="
                    background-image: url(assets/img/avatars/team-trevor.jpg);
                  "
                  href="#!"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/avatars/team-trevor.jpg"
                    alt="..."
                    class="img-fluid invisible"
                  />
                </a>
              </div>

              <!-- Shape -->
              <div
                class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block"
              >
                {{> curves/curve-4}}
              </div>
            </div>
            <div class="col-12 col-md-6 position-md-static">
              <!-- Slider -->
              <div
                class="position-md-static"
                data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}'
                id="blogSlider"
              >
                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                          <h3>Brandon Gross</h3>
                        </div>
                        <!-- Footer -->
                        <footer class="blockquote-footer">
                          <span class="h6 text-uppercase">Founder and CEO</span>
                        </footer>
                      </div>
                      <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        "Selvage lyft gastropub vexillologist williamsburg
                        hammock 90's truffaut hashtag tofu live-edge iPhone
                        brooklyn etsy. Vexillologist unicorn mustache, hot
                        chicken 90's synth hashtag mlkshk. Post-ironic affogato
                        mustache austin selvage vape. Disrupt kombucha bitters
                        fanny pack."
                      </p>
                    </blockquote>
                  </div>
                </div>

                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                          <h3>Joey Sparks</h3>
                        </div>
                        <!-- Footer -->
                        <footer class="blockquote-footer">
                          <span class="h6 text-uppercase"></span>
                        </footer>
                      </div>
                      <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “Selvage lyft gastropub vexillologist williamsburg
                        hammock 90's truffaut hashtag tofu live-edge iPhone
                        brooklyn etsy. Vexillologist unicorn mustache, hot
                        chicken 90's synth hashtag mlkshk. Post-ironic affogato
                        mustache austin selvage vape. Disrupt kombucha bitters
                        fanny pack..”
                      </p>
                    </blockquote>
                  </div>
                </div>

                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <div class="row justify-content-center mb-5 mb-md-7">
                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                          <h3>Trevor Price</h3>
                        </div>
                        <!-- Footer -->
                        <footer class="blockquote-footer">
                          <span class="h6 text-uppercase"
                            >Operations Manager</span
                          >
                        </footer>
                      </div>
                      <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “Selvage lyft gastropub vexillologist williamsburg
                        hammock 90's truffaut hashtag tofu live-edge iPhone
                        brooklyn etsy. Vexillologist unicorn mustache, hot
                        chicken 90's synth hashtag mlkshk. Post-ironic affogato
                        mustache austin selvage vape. Disrupt kombucha bitters
                        fanny pack.”
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
  </div>
</section>
