<div class="row">
  <div class="col-12">
    <!-- Card -->
    <div class="card card-row shadow-light-lg mb-6">
      <div class="row gx-0">
        <div class="col-12 col-md-6">
          <!-- Slider -->
          <div
            class="card-img-slider"
            data-flickity='{"fade": true, "imagesLoaded": true, "adaptiveHeight": false, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'
          >
            <a
              class="card-img-start w-100 bg-cover"
              style="background-image: url(assets/img/avatars/team-brando.webp)"
              href="#!"
            >
              <!-- Image (placeholder) -->
              <img
                src="assets/img/avatars/team-brando.webp"
                alt="..."
                class="img-fluid d-md-none invisible"
              />
            </a>

            <a
              class="card-img-start w-100 bg-cover"
              style="background-image: url(assets/img/avatars/team-joey.webp"
              href="#!"
            >
              <!-- Image (placeholder) -->
              <img
                src="assets/img/avatars/team-joey.webp"
                alt="..."
                class="img-fluid d-md-none invisible"
              />
            </a>

            <a
              class="card-img-start w-100 bg-cover"
              style="background-image: url(assets/img/avatars/team-trevor.webp"
              href="#!"
            >
              <!-- Image (placeholder) -->
              <img
                src="assets/img/avatars/team-trevor.webp"
                alt="..."
                class="img-fluid d-md-none invisible"
              />
            </a>
          </div>

          <!-- Shape -->
          <div
            class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block"
          >
            {{> curves/curve-4}}
          </div>
        </div>
        <div class="col-12 col-md-6 position-md-static">
          <!-- Slider -->
          <div
            class="position-md-static"
            data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}'
            id="blogSlider"
          >
            <div class="w-100">
              <!-- Body -->
              <div class="card-body">
                <blockquote class="blockquote text-center mb-0">
                  <div class="row justify-content-center mb-5 mb-md-7">
                    <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                      <h3>Brandon Gross</h3>
                    </div>
                    <!-- Footer -->
                    <footer class="blockquote-footer">
                      <span class="h6 text-uppercase">Founder and CEO</span>
                    </footer>
                  </div>
                  <!-- / .row -->

                  <!-- Text -->
                  <p class="mb-5 mb-md-7">
                    “I put my ball sack on Trevors drums”
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="w-100">
              <!-- Body -->
              <div class="card-body">
                <blockquote class="blockquote text-center mb-0">
                  <div class="row justify-content-center mb-5 mb-md-7">
                    <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                      <h3>Joey Sparks</h3>
                    </div>
                    <!-- Footer -->
                    <footer class="blockquote-footer">
                      <span class="h6 text-uppercase">King of Gape</span>
                    </footer>
                  </div>
                  <!-- / .row -->

                  <!-- Text -->
                  <p class="mb-5 mb-md-7">
                    “One of the things I like doing most is banging whores.”
                  </p>
                </blockquote>
              </div>
            </div>

            <div class="w-100">
              <!-- Body -->
              <div class="card-body">
                <blockquote class="blockquote text-center mb-0">
                  <div class="row justify-content-center mb-5 mb-md-7">
                    <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                      <h3>Trevor Price</h3>
                    </div>
                    <!-- Footer -->
                    <footer class="blockquote-footer">
                      <span class="h6 text-uppercase">I chug dick</span>
                    </footer>
                  </div>
                  <!-- / .row -->

                  <!-- Text -->
                  <p class="mb-5 mb-md-7">
                    “So you saw me eat that Hot Pocket I found in the garbage?”
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / .row -->
    </div>
  </div>
</div>
