<section class="py-8 py-md-10 bg-black">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h2 class="display-3 section-header fw-bold text-white">Our Why</h2>
        <!-- Text -->
        <p class="fs-lg text-gray-500 mb-4mb-md-6">
          Take our quiz to
          <span class="text-white zap-04">Learn More</span> about your students
          and mental health.
        </p>
        <div class="row mt-n7">
          <!-- CARD 1 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card1"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-primary text-white mb-3">
                        {{> feather/meh }}
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        What percent of 12-18 year olds suffer from mental
                        illness?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-one-choices }}
                        </div>
                      </div>
                      <!-- Badge -->
                      <label
                        for="card1"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span>A)</span>
                      <div class="choice">
                        <span class="pe-1">10%</span>
                      </div>
                    </div>
                    <div class="answers">
                      <span class="correct zap-05">B)&nbsp;20%</span>
                    </div>
                    <div class="answers">
                      <span>C)</span>
                      <div class="choice">
                        <span class="pe-1">30%</span>
                      </div>
                    </div>

                    <div class="text-white description">
                      <p>
                        Twenty percent of 12 to 18 year olds suffer from some
                        form of mental illness.
                      </p>
                    </div>
                    <label
                      for="card1"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD 2 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card2"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-info text-white mb-3">
                        <i class="fe fe-help-circle"></i>
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        What is the average age of the first incident of
                        self-harm?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-two-choices }}
                        </div>
                      </div>
                      <!-- Badge -->

                      <label
                        for="card2"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span class="correct zap-04">A)&nbsp;13</span>
                    </div>
                    <div class="answers">
                      <span>B)&nbsp;15</span>
                    </div>
                    <div class="answers">
                      <span>C)&nbsp;17</span>
                    </div>
                    <div class="text-white description">
                      <p>
                        The average age of the first incident of self-harm is 13
                        years old.
                      </p>
                    </div>
                    <label
                      for="card2"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD 3 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card3"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-primary text-white mb-3">
                        <i class="fe fe-alert-octagon"></i>
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        What percent of high school students have considered
                        suicide?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-three-choices }}
                        </div>
                      </div>
                      <!-- Badge -->
                      <label
                        for="card3"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span>A)&nbsp;7%</span>
                    </div>
                    <div class="answers">
                      <span>B)&nbsp;12%</span>
                    </div>
                    <div class="answers">
                      <span class="correct zap-03">C)&nbsp;17%</span>
                    </div>
                    <div class="text-white description">
                      <p>
                        Seventeen percent of high school students seriously
                        consider suicide.
                      </p>
                    </div>

                    <label
                      for="card3"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD 4 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card4"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-secondary text-white mb-3">
                        <i class="fe fe-globe"></i>
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        Suicide ranks where in the leading cause of death
                        amongst 15-24yr olds?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-four-choices }}
                        </div>
                      </div>
                      <!-- Badge -->
                      <label
                        for="card4"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span class="correct zap-06">A)&nbsp;2nd</span>
                    </div>
                    <div class="answers">
                      <span>B)&nbsp;4th</span>
                    </div>
                    <div class="answers">
                      <span>C)&nbsp;8th</span>
                    </div>
                    <div class="text-white description">
                      <p>
                        Suicide is the 2nd leading case of death amongst 15-24
                        year olds.
                      </p>
                    </div>

                    <label
                      for="card4"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD 5 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card5"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-primary text-white mb-3">
                        <i class="fe fe-sun"></i>
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        What percentage of people have success with therapy &
                        medication?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-five-choices }}
                        </div>
                      </div>
                      <!-- Badge -->
                      <label
                        for="card5"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span>A)&nbsp;30%</span>
                    </div>
                    <div class="answers">
                      <span>B)&nbsp;50%</span>
                    </div>
                    <div class="answers">
                      <span class="correct zap-07">C)&nbsp;80%</span>
                    </div>
                    <div class="text-white description">
                      <p>
                        80 to 90% of people that seek treatment for a mental
                        illness are successful with therapy & medication.
                      </p>
                    </div>
                    <label
                      for="card5"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- CARD 6 -->
          <div class="col-12 col-md-6 col-xl-4 mt-7">
            <div class="card flip-card bg-dark rounded-3">
              <input
                type="checkbox"
                id="card6"
                class="more"
                aria-hidden="true"
              />
              <div class="content">
                <div class="front">
                  <div class="inner">
                    <div class="card-body p-5 pb-0 my-auto">
                      <!-- Image -->
                      <div class="icon-circle-sm bg-secondary text-white mb-3">
                        <i class="fe fe-users"></i>
                      </div>
                    </div>
                    <div class="card-body p-5">
                      <!-- Text -->
                      <p class="question-header text-white my-4">
                        How many young people ages 3-17 suffer from anxiety or
                        depression?
                      </p>
                      <div class="answer-choices pb-4">
                        <div
                          class="img-fluid w-100 svg-shim mx-auto text-muted"
                        >
                          {{> answers/card-six-choices }}
                        </div>
                      </div>
                      <!-- Badge -->
                      <label
                        for="card6"
                        class="badge rounded-pill bg-black button"
                      >
                        <span class="h6 text-uppercase px-8">
                          <i class="fe fe-eye"></i>&nbsp; Answer</span
                        >
                      </label>
                    </div>
                  </div>
                </div>
                <div class="back">
                  <div class="inner">
                    <div class="answers">
                      <span>A)&nbsp;3.5</span>
                    </div>
                    <div class="answers">
                      <span>B)&nbsp;5.6</span>
                    </div>
                    <div class="answers">
                      <span class="correct zap-02">C)&nbsp;6.3</span>
                    </div>
                    <div class="text-white description">
                      <p>
                        6.3 million young people aged 3-17 suffer from anxiety
                        or depression.
                      </p>
                    </div>
                    <label
                      for="card6"
                      class="badge rounded-pill bg-black button return"
                      aria-hidden="true"
                    >
                      <span class="h6 text-uppercase px-8">
                        <i class="fe fe-arrow-left"></i>&nbsp; Return</span
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
