{{!-- TODO: 1) Add sticky footer to the cards 'learn more' section. 2) Add modal
for the information that comes up from "Learn More"...If too much info, suggest
a new page for SEO. 3) In mobile view, add data-flickity back in --}}

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border shadow-lg mt-8"
    style="border-top-color: #174291"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
        {{> artwork/educate }}
      </div>
      <h2 class="card-title-light font-700">Educate</h2>
      <!-- Text -->
      <p class="text-primary font-300 mb-0">Students on Mental Health</p>
    </div>
    <!-- Footer -->
    <a class="card-meta" href="#!">
      <hr class="card-meta-divider" />
      <h6 class="text-uppercase mb-0" style="color: #282c34">
        Learn More <span class="fe fe-arrow-right"></span>
      </h6>
    </a>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border shadow-lg mt-8"
    style="border-top-color: #174291"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
        {{> artwork/inspire }}
      </div>
      <h2 class="card-title-light font-700">Inspire</h2>
      <!-- Text -->
      <p class="text-primary font-300 mb-0">Students to <i>Walk Up</i></p>
    </div>
    <!-- Meta -->
    <a class="card-meta" href="#!">
      <!-- Divider -->
      <hr class="card-meta-divider" />
      <h6 class="text-uppercase mb-0" style="color: #282c34">
        Learn More <span class="fe fe-arrow-right"></span>
      </h6>
    </a>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border shadow-lg mt-8"
    style="border-top-color: #174291"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
        {{> artwork/provide }}
      </div>
      <h2 class="card-title-light font-700">Provide</h2>
      <!-- Text -->
      <p class="text-primary font-300 mb-0">
        Long term mental health support to your school
      </p>
    </div>
    <!-- Meta -->
    <a class="card-meta" href="#!">
      <!-- Divider -->
      <hr class="card-meta-divider" />
      <h6 class="text-uppercase mb-0" style="color: #282c34">
        Learn More <span class="fe fe-arrow-right"></span>
      </h6>
    </a>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border shadow-lg mt-8"
    style="border-top-color: #174291"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
        {{> artwork/motivate }}
      </div>
      <h2 class="card-title-light font-700">Motivate</h2>
      <!-- Text -->
      <p class="text-primary font-300 mb-0">
        Students by bringing speakers to campus
      </p>
    </div>
    <!-- Meta -->
    <a class="card-meta" href="#!">
      <!-- Divider -->
      <hr class="card-meta-divider" />
      <h6 class="text-uppercase mb-0" style="color: #282c34">
        Learn More <span class="fe fe-arrow-right"></span>
      </h6>
    </a>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border shadow-lg mt-8"
    style="border-top-color: #174291"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
        {{> artwork/change }}
      </div>
      <h2 class="card-title-light font-700">Change</h2>
      <!-- Text -->
      <p class="text-primary font-300 mb-0">Lives and bring hope!</p>
    </div>
    <!-- Meta -->
    <a class="card-meta" href="#!">
      <!-- Divider -->
      <hr class="card-meta-divider" />
      <h6 class="text-uppercase mb-0" style="color: #282c34">
        Learn More <span class="fe fe-arrow-right"></span>
      </h6>
    </a>
  </div>
</div>
