{{!-- TODO: 1) Add sticky footer to the cards 'learn more' section. 2) Add modal
for the information that comes up from "Learn More"...If too much info, suggest
a new page for SEO. 3) In mobile view, add data-flickity back in --}}

<div class="col group-item d-flex">
  <div
    class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/educate }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold card-title-light">Educate</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Students on mental health</p>

      <!-- Badge -->
      <span class="badge rounded-pill bg-dark-soft">
        <span class="h6 text-uppercase"> Learn More </span>
      </span>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-xl icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/inspire }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold card-title-light">Inspire</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">
        We want to inspire students to <i>Walk Up</i>
      </p>

      <!-- Badge -->
      <span class="badge rounded-pill bg-dark-soft">
        <span class="h6 text-uppercase"> Learn More </span>
      </span>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/provide }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold card-title-light">Provide</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Mental health support to your school</p>

      <!-- Badge -->
      <span class="badge rounded-pill bg-dark-soft">
        <span class="h6 text-uppercase"> Learn More </span>
      </span>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/motivate }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold card-title-light">Motivate</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Students by bringing speakers to campus</p>

      <!-- Badge -->
      <span class="badge rounded-pill bg-dark-soft">
        <span class="h6 text-uppercase"> Learn More </span>
      </span>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div
    class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg"
  >
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">{{> artwork/change }}</div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold card-title-light">Change</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Lives and bring hope!</p>

      <!-- Badge -->
      <span class="badge rounded-pill bg-dark-soft">
        <span class="h6 text-uppercase"> Learn More </span>
      </span>
    </div>
  </div>
</div>
