<!-- Cards Toggled -->
<div class="row">
  <div class="col-12">
    <div
      class="row"
      id="wu-steps"
      data-isotope='{"layoutMode": "fitRows", "filter": "#heal-others"}'
    >
      <!-- Heal Others -->
      <div class="col-12" id="heal-others">
        <!-- Card -->
        <div class="card rounded-lg shadow-lg mb-6 mb-md-0">
          <!-- Body -->
          <div class="card-body py-6 py-md-8">
            <div class="row gx-0 mb-7 mb-md-9">
              <!-- Recognize -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col"></div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-1 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Recognize</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Notice the signs and see the struggle.
                </p>
              </div>
              <!-- Communicate -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-2 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Communicate</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Let them feel "seen". Talk to them or give a smile.
                </p>
              </div>
              <!-- Learn -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-3 }}
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <h3 class="font-weight-bold">Learn</h3>
                <p class="text-muted mb-0 px-2">
                  What's their story? What can you do to help?
                </p>
              </div>
            </div>
            <div class="row gx-0 mb-7 mb-md-9">
              <!-- Imagine -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col"></div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-4 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Imagine</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  What would you want or need if roles were reversed?
                </p>
              </div>
              <!-- Comfort -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-5 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Comfort</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Make sure they feel a sense of hope by the time you leave.
                </p>
              </div>
              <!-- Follow Up -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-6 }}
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <h3 class="font-weight-bold">Follow Up</h3>
                <p class="text-muted mb-0 px-2">
                  Make an effort for you to see or talk to them again. Provide
                  hope.
                </p>
              </div>
            </div>
          </div>
          <!-- Button -->
          <a href="#!" class="card-btn btn btn-block btn-lg btn-primary">
            Learn more!
          </a>
        </div>
      </div>

      <!-- Heal Yourself -->
      <div class="col-12" id="heal-yourself">
        <div class="card rounded-lg shadow-lg mb-6 mb-md-0" style="z-index: 1">
          <div class="card-body py-6 py-md-8">
            <div class="row gx-0 mb-7 mb-md-9">
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col"></div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-1 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Recognize</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Notice the signs and see the struggle that you may be facing.
                </p>
              </div>
              <!-- Be Humble -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-2 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Be Humble</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Admit to yourself that you have a struggle and need help.
                </p>
              </div>
              <!-- Ask For help -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-3 }}
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <h3 class="font-weight-bold">Ask for Help</h3>
                <p class="text-muted mb-0 px-2">
                  Be courageous. Walk up to somebody to ask for help.
                </p>
              </div>
            </div>

            <div class="row gx-0 mb-7 mb-md-9">
              <!-- Listen -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col"></div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-4 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Listen</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Listen to their advice.
                </p>
              </div>
              <!-- Take Action -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-5 }}
                    </div>
                  </div>
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                </div>
                <h3 class="font-weight-bold">Take Action</h3>
                <p class="text-muted mb-6 mb-md-0 px-2">
                  Make time in each day to work on yourself.
                </p>
              </div>
              <!-- Surround -->
              <div class="col-12 col-md-4 text-center">
                <div class="row mb-5">
                  <div class="col">
                    <hr class="d-none d-md-block" />
                  </div>
                  <div class="col-auto">
                    <div class="icon text-primary mb-3">
                      {{> numbers/wu-number-icon-6 }}
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <h3 class="font-weight-bold">Surround</h3>
                <p class="text-muted mb-0 px-2">
                  Surround yourself with people that will support and help you.
                </p>
              </div>
            </div>
          </div>
          <!-- Button -->
          <a href="#!" class="card-btn btn btn-block btn-lg btn-primary">
            Learn more!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
