<section class="bg-gradient-dark-black py-10 py-md-12">
  <!-- Header  -->
  <div class="container">
    <div class="row justify-content-center" id="whatWeDo">
      <div class="col-12 col-lg-7 text-center">
        <h2 class="display-3 section-header text-white">What We Do</h2>
        <p class="lead text-muted mb-9">
          We provide two weeks of
          <span class="text-white zap-03">Education & Inspiration</span> that
          will bring hope and strength to students and staff.
        </p>
      </div>
    </div>
    <!-- / END Header  -->

    <!-- Cards Row -->
    <div class="row d-flex justify-content-center mt-n7">
      <div class="col-12 col-sm-6 col-lg-4 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3 shadow-multicolor-1">
          <div class="card-body p-5 pb-0 my-auto">
            <!-- Image -->
            <div
              class="img-fluid w-50 svg-shim mx-auto"
              style="max-width: 150px"
            >
              {{> artwork/educate }}
            </div>
          </div>
          <div class="card-body text-center p-5">
            <!-- Heading -->
            <h3 class="section-header text-uppercase text-white">Educate</h3>
            <p class="text-muted mb-4">Students on mental health.</p>
            <!-- Badge -->
            <a
              href="#!"
              class="badge rounded-pill bg-black"
              data-bs-toggle="modal"
              data-bs-target="#modalEducate"
            >
              <span class="h6 text-uppercase"> Learn More </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="card-body p-5 pb-0 my-auto">
            <!-- Image -->
            <div
              class="img-fluid w-50 svg-shim mx-auto"
              style="max-width: 150px"
            >
              {{> artwork/inspire }}
            </div>
          </div>
          <div class="card-body text-center p-5">
            <!-- Heading -->
            <h3 class="section-header text-uppercase text-white">Inspire</h3>
            <p class="text-muted mb-4">Students to <i>Walk Up</i></p>
            <!-- Badge -->
            <a
              href="#!"
              class="badge rounded-pill bg-black"
              data-bs-toggle="modal"
              data-bs-target="#modalInspire"
            >
              <span class="h6 text-uppercase"> Learn More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="card-body p-5 pb-0 my-auto">
            <!-- Image -->
            <div
              class="img-fluid w-50 svg-shim mx-auto"
              style="max-width: 150px"
            >
              {{> artwork/provide }}
            </div>
          </div>
          <div class="card-body text-center p-5">
            <!-- Heading -->
            <h3 class="section-header text-uppercase text-white">Provide</h3>
            <p class="text-muted mb-4">Mental health support</p>
            <!-- Badge -->
            <a
              href="#!"
              class="badge rounded-pill bg-black"
              data-bs-toggle="modal"
              data-bs-target="#modalProvide"
            >
              <span class="h6 text-uppercase"> Learn More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3">
          <div class="card-body p-5 pb-0 my-auto">
            <!-- Image -->
            <div
              class="img-fluid w-50 svg-shim mx-auto"
              style="max-width: 150px"
            >
              {{> artwork/motivate }}
            </div>
          </div>
          <div class="card-body text-center p-5">
            <!-- Heading -->
            <h3 class="section-header text-uppercase text-white">Motivate</h3>
            <p class="text-muted mb-4">
              Students by bringing speakers to campus
            </p>
            <!-- Badge -->
            <a
              href="#!"
              class="badge rounded-pill bg-black"
              data-bs-toggle="modal"
              data-bs-target="#modalMotivate"
            >
              <span class="h6 text-uppercase"> Learn More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-7">
        <!-- Card -->
        <div class="card h-100 bg-dark rounded-3 shadow-multicolor-2">
          <div class="card-body p-5 pb-0 my-auto">
            <!-- Image -->
            <div
              class="img-fluid w-50 svg-shim mx-auto"
              style="max-width: 150px"
            >
              {{> artwork/change }}
            </div>
          </div>
          <div class="card-body text-center p-5">
            <!-- Heading -->
            <h3 class="section-header text-uppercase text-white">Change</h3>
            <p class="text-muted mb-4">
              We want to change lives and provide hope!
            </p>
            <!-- Badge -->
            <a
              href="#!"
              class="badge rounded-pill bg-black"
              data-bs-toggle="modal"
              data-bs-target="#modalChange"
            >
              <span class="h6 text-uppercase"> Learn More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- / END Cards Row -->
  </div>
</section>
