<div class="col group-item d-flex">
  <div class="card border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/educate }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold text-uppercase">Educate</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Students on mental health</p>

      <!-- Badge -->
      <a
        href="#!"
        class="badge rounded-pill bg-dark-soft"
        data-bs-toggle="modal"
        data-bs-target="#modalEducate"
      >
        <span class="h6 text-uppercase"> Learn More </span>
      </a>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div class="card border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-xl icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/inspire }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold text-uppercase">Inspire</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">
        We want to inspire students to <i>Walk Up</i>
      </p>

      <!-- Badge -->
      <a
        href="#!"
        class="badge rounded-pill bg-dark-soft"
        data-bs-toggle="modal"
        data-bs-target="#modalInspire"
      >
        <span class="h6 text-uppercase"> Learn More </span>
      </a>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div class="card border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/provide }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold text-uppercase">Provide</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Mental health support to your school</p>

      <!-- Badge -->
      <a
        href="#!"
        class="badge rounded-pill bg-dark-soft"
        data-bs-toggle="modal"
        data-bs-target="#modalProvide"
      >
        <span class="h6 text-uppercase"> Learn More </span>
      </a>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div class="card border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">
          {{> artwork/motivate }}
        </div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold text-uppercase">Motivate</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Students by bringing speakers to campus</p>

      <a
        href="#!"
        class="badge rounded-pill bg-dark-soft"
        data-bs-toggle="modal"
        data-bs-target="#modalMotivate"
      >
        <span class="h6 text-uppercase"> Learn More </span>
      </a>
    </div>
  </div>
</div>

<div class="col group-item d-flex">
  <!-- Card -->
  <div class="card border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
    <div class="card-body text-center">
      <!-- Icon -->
      <div class="icon-circle bg-light text-white mb-5">
        <div class="img-fluid w-75 svg-shim mx-auto">{{> artwork/change }}</div>
      </div>

      <!-- Heading -->
      <h4 class="fw-bold text-uppercase">Change</h4>

      <!-- Text -->
      <p class="text-gray-700 mb-5">Lives and bring hope!</p>

      <!-- Badge -->
      <a
        href="#!"
        class="badge rounded-pill bg-dark-soft"
        data-bs-toggle="modal"
        data-bs-target="#modalChange"
      >
        <span class="h6 text-uppercase"> Learn More </span>
      </a>
    </div>
  </div>
</div>
