<section
  data-jarallax
  data-speed=".8"
  class="py-12 overlay overlay-black overlay-20 bg-cover jarallax"
  style="background-image: url({{webRoot}}/{{imgRoot}})"
>
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-md-5 col-sm-12 align-self-center order-lg-1">
        <h2
          class="display-2 text-center text-md-left text-white text-uppercase font-900"
        >
          Its tough to judge someone
        </h2>
      </div>
      <div class="col-md-5 col-sm-12 align-self-center text-right order-lg-3">
        <h2
          class="display-2 text-center text-md-right text-white text-uppercase font-900"
        >
          when you know their story
        </h2>
      </div>
      <div
        class="col d-flex justify-content-center align-self-center order-lg-2"
      >
        <button type="button" class="btn btn-dark btn-sm">Donate</button>
      </div>
    </div>
  </div>
</section>
