<section
  data-jarallax
  data-speed=".8"
  class="py-md-11 py-10 overlay overlay-white overlay-40 bg-cover jarallax"
  style="background-image: url({{webRoot}}/{{imgRoot}})"
>
  <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h1 class="display-2 text-primary text-500">
          Its tough to judge someone...
        </h1>
        <!-- Text -->
        <h2 class="text-center text-primary mb-8">when you know their story</h2>
        <!-- Button -->
        <a href="#!" class="btn btn-primary shadow lift font-300">
          Donate today
        </a>
      </div>
    </div>
  </div>
</section>
