@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  src: url("#{$path-to-fonts}/Metropolis/Metropolis-Medium.woff2")
      format("woff2"),
    url("#{$path-to-fonts}/Metropolis/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  src: url("#{$path-to-fonts}/Metropolis/Metropolis-Bold.woff2") format("woff2"),
    url("#{$path-to-fonts}/Metropolis/Metropolis-Bold.woff") format("woff");
}

$font-family-header: "Metropolis", sans-serif !default;
$font-family-base: "Inter", sans-serif;

.font-900 {
  font-family: $font-family-base;
  font-weight: $font-weight-black;
  font-style: normal;
}

.font-700 {
  font-family: $font-family-base;
  font-weight: $font-weight-bolder;
  font-style: normal;
}

.font-500 {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-style: normal;
}

.font-300 {
  // Light
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-style: normal;
}
