.flip-card {
  width: 100%;
  height: 350px;
  perspective: 1500px;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}

.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

@mixin answer-mixin($font-size, $color, $fw) {
  display: block;
  margin-top: -0.25rem;
  font-size: $font-size; // 2.5rem;
  font-weight: $fw;
  white-space: pre-wrap;
  color: $color; // $success;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;

  .inner {
    height: 100%;
    display: grid;
    padding: 1.25rem;
    transform: translateZ(80px) scale(0.94);
  }
}

.front {
  background-color: $white;
  background-size: cover;
  background-position: center center;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
  }

  .inner {
    grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

  .question-header {
    grid-row: 2;
    margin-bottom: 0.3em;
    color: $white;
    font-weight: 400;
    // font-size: $font-size-base;
    text-align: center;
  }

  .rating {
    grid-row: 3;
    display: flex;
    flex-flow: row nowrap;
  }
}

.back {
  transform: rotateY(180deg);
  background-color: $white;
  border: 2px solid $gray-200;
  .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.85rem;
    justify-items: center;
  }

  .answers {
    position: relative;
    display: flex;
    align-items: center;
    color: $gray-400;
    font-family: $font-family-header;
    grid-row: 3;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;

    &:not(:first-of-type):before {
      // content: "";
      position: absolute;
      left: -0.9rem;
      height: 1.25rem;
      width: 1px;
      background-color: #ccc;
    }

    span.correct {
      @include answer-mixin(1.25rem, $gray-900, 600);
    }

    span {
      @include answer-mixin(1.125rem, $gray-200, 600);
    }

    .choice {
      margin-left: 0.3rem;
      span {
        @include answer-mixin(1.125rem, $gray-200, 600);
      }
    }
  }

  .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.875;
    border-radius: 5px;
    font-weight: 400;
    line-height: 1.5rem;
    overflow: auto;
    color: $gray-700;
    padding-right: 0.25rem;
  }

  .header-prefix-left,
  .header-prefix-right {
    font-weight: 400;
    color: $dark;
    grid-row: 1;
    font-size: $font-size-sm;
  }

  .header-prefix-left {
    grid-column: 1/3;
    justify-self: left;
  }

  .header-prefix-right {
    grid-column: 3/-1;
    justify-self: right;
    padding-right: 0.5rem;
  }

  .button {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.button {
  grid-row: -1;
  letter-spacing: 1px;
  display: block;
  background-color: transparent;
  border: solid 1px $white;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: lighten($primary, 20%);
}
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
