// user-variables.scss
// Use this to overwrite Bootstrap and theme variables

$white: #ffffff !default;
$gray-100: #f2f8fc !default;
$gray-200: #e5ebf5 !default;
$gray-300: #d5e3f2 !default;
$gray-400: #ced7ec !default;
$gray-500: #a0abc6 !default;
$gray-600: #7d92b7 !default;
$gray-700: #6b748d !default;
$gray-800: #2d3242 !default;
$gray-900: #1e273e !default;
$black: #161c2d !default;

$primary: #61dafb !default;
$secondary: $gray-700 !default;
$primary-desat: #738dbd !default;
$success: #61fbcf !default;
$info: #61dafb !default; // 1c85ff
$warning: #fb8261 !default;
$danger: #df4759 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$header-color: $dark;
$sub-header-color: $gray-700;

$font-weight-black: 900 !default;
$font-weight-bolder: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Paths

$path-to-img: "../img" !default;
$path-to-fonts: "../fonts" !default;

// Component overrides
$navbar-nav-link-font-weight: $font-weight-normal !default;

$icon-circle-size: 7.875rem !default;
$icon-circle-size-sm: 4.1875rem !default;
$icon-circle-size-xs: 1.875rem !default;

$border-width: 2px !default;

$font-family-metropolis: "Metropolis", "Inter", -apple-system, sans-serif !default;

$component-active-color: $danger !default;
$component-active-bg: $info !default;
