// user.scss
// Use this to write custom SCSS
// $enable-responsive-font-sizes: true;

.hide-sm {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.show-md {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.font-900 {
  font-family: $font-family-base;
  font-weight: $font-weight-black;
  font-style: normal;
}

.font-700 {
  font-family: $font-family-base;
  font-weight: $font-weight-bolder;
  font-style: normal;
}

.font-500 {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-style: normal;
}

.font-300 {
  // Light
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-style: normal;
}

@mixin font-style-mixin($color, $font-size, $font-weight, $text-style) {
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  text-transform: $text-style;
}

@mixin card-bg-mixin($color) {
  background: $color;
}

@mixin card-mixin($color) {
  @include card-bg-mixin($color);
}

@mixin card-icon-mixin($width, $height, $padding) {
  width: $width;
  height: $height;
  align-self: center;
  padding-top: $padding;
}

@mixin card-title-mixin($color, $font-size) {
  font-size: $font-size;
  color: $color;
  text-transform: uppercase;
}

@mixin border-bottom-mixin($border-color, $padding) {
  border-bottom-width: $border-width;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  padding-bottom: $padding;
}

.card-gradient-fill {
  @include card-mixin(var(--gradient));
}

.card-img-icon {
  @include card-icon-mixin(50%, 40%, 0.75rem);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: $border-width solid $dark;
}

.card-title-dark {
  @include card-title-mixin($white, 1.65rem);

  @include media-breakpoint-up(xl) {
    @include card-title-mixin($white, 1.75vw);
  }
}

.card-title-light {
  @include card-title-mixin($dark, 1.65rem);

  @include media-breakpoint-up(xl) {
    @include card-title-mixin($dark, 1.75vw);
  }
}

.section-header {
  @include font-style-mixin(
    $header-color,
    3.25rem,
    $font-weight-bold,
    uppercase
  );
}

.sub-header {
  @include font-style-mixin(
    $sub-header-color,
    1.4rem,
    $font-family-base,
    normal
  );
  font-weight: 300;
}

.inner-border-dark {
  @include border-bottom-mixin(rgba($bg-blue-light, 0.25), 1rem);
}

.inner-border-light {
  @include border-bottom-mixin(rgba($blue, 0.25), 1rem);
}

.group-container {
  @include media-breakpoint-up(lg) {
    @include make-container(8.5rem);
  }
  // Medium
  @include media-breakpoint-between(sm, lg) {
    @include make-container(4.5rem);
  }
  // Small, X-Small
  @include media-breakpoint-down(sm) {
    @include make-container(2.5rem);
  }
}

.group-item {
  @include make-col-ready();
  @include media-breakpoint-up(xl) {
    max-width: 20%;
    padding-right: calc(var(--bs-gutter-x) / 3);
    padding-left: calc(var(--bs-gutter-x) / 3);
  }
  @include media-breakpoint-between(md, xl) {
    @include make-col(4);
  }
  @include media-breakpoint-between(sm, md) {
    @include make-col(6);
  }
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    max-width: 65%;
  }
}

@mixin card-icon-bg(
  $name,
  $top-or-bottom,
  $left-or-right,
  $top-padding,
  $bottom-padding
) {
  .icon-#{$name} {
    background-image: url("/src/img/icons/#{$name}.svg");
    position: absolute;
    background-repeat: no-repeat;
    #{$top-or-bottom}: $top-padding;
    #{$left-or-right}: $bottom-padding;
  }
}

@include card-icon-bg("educate", top, auto, 1.5rem, 0);

// testing css below -- need to convert to scss w/ proper variables

.fade-in {
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-gradient-primary {
  background-image: linear-gradient(
    to right top,
    #20232a,
    #21252c,
    #23262d,
    #24282f,
    #262a31,
    #2f3641,
    #374352,
    #3f5164,
    #4d708a,
    #5692b1,
    #5db5d7,
    #61dafb
  );
}

.bg-gradient-multicolor {
  background-image: conic-gradient(
    from 52deg at 50% 50%,
    #61dafb 0deg,
    #5cadce 33deg,
    #52829e 222deg,
    #174291 264deg,
    #4078c0 295deg,
    #61dafb 360deg
  );
}

.bg-gradient-3color-primary {
  background-image: linear-gradient(
    to right top,
    #2f3641,
    #435a6f,
    #52829e,
    #5cadce,
    #61dafb
  );
}

.shadow-multicolor {
  box-shadow: -300px 100px 300px rgba(#52829e, 0.1),
    300px -100px 300px rgba(#61dafb, 0.15);
}

.navbar {
  padding-top: 0.75rem; // 12px
  padding-bottom: 0.75rem;
}

.btn {
  border-radius: 0;
  padding: 0.75rem 1.25rem;
}

// Dropdown image in navbar override
.navbar-nav .dropdown-img-start {
  // Overlay
  &::before {
    background-color: fade-out($primary, 0.5);
  }
}

// Flickity overrides

.flickity-button:hover {
  background: $gray-100;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

.flickity-button-bottom .flickity-button {
  top: auto;
  bottom: -3.5rem;
  transform: none;
}

.flickity-button-bottom .flickity-button.previous {
  left: auto;
  right: 5.375rem;
}

.flickity-button-bottom .flickity-button.next {
  left: auto;
  right: 1.25rem;
}

.flickity-viewport {
  left: -20px;
}
