// user.scss
// Use this to write custom SCSS
// $enable-responsive-font-sizes: true;

.hide-sm {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.show-md {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.font-900 {
  font-family: $font-family-base;
  font-weight: $font-weight-black;
  font-style: normal;
}

.font-700 {
  font-family: $font-family-base;
  font-weight: $font-weight-bolder;
  font-style: normal;
}

.font-500 {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-style: normal;
}

.font-300 {
  // Light
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-style: normal;
}

.section-header {
  font-family: $font-family-header;
}

.section-sub-header {
  color: $gray-700;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  font-style: normal;
}

.group-container {
  // > X-Large
  @include media-breakpoint-up(xxl) {
    @include make-container(9rem);
  }
  // Large
  @include media-breakpoint-between(xl, xxl) {
    @include make-container(7rem);
  }
  // Medium
  @include media-breakpoint-between(sm, xl) {
    @include make-container(4.5rem);
  }
  // < Small
  @include media-breakpoint-down(sm) {
    @include make-container(2.5rem);
  }
}

.group-item {
  @include make-col-ready();
  @include media-breakpoint-up(xl) {
    max-width: 280px;
    padding-right: calc(var(--bs-gutter-x) / 4);
    padding-left: calc(var(--bs-gutter-x) / 4);
  }
  @include media-breakpoint-between(md, xl) {
    @include make-col(4);
  }
  @include media-breakpoint-between(sm, md) {
    @include make-col(6);
  }
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    max-width: 70%;
  }
}

// Patterns

.bg-pattern-2 {
  background-image: linear-gradient(to bottom, transparent 0%, $dark 100%),
    url("#{$path-to-img}/patterns/pattern-2.png");
}

.bg-gradient-to-dark {
  background-image: linear-gradient(to bottom, transparent 0%, $dark 100%);
}

.bg-gradient-light-white {
  background-image: linear-gradient(to bottom, $light 0%, $white 100%);
}

.shadow-multicolor {
  box-shadow: -100px 50px 100px rgba($danger, 0.2),
    100px -50px 100px rgba($info, 0.2);
}

.bg-gradient-multicolor {
  background-image: conic-gradient(
    from 52deg at 50% 50%,
    $info 0deg,
    $success 33deg,
    $primary 222deg,
    $warning 264deg,
    $danger 295deg,
    $icon-circle-font-size 360deg
  );
}

.bg-color-wave {
  background-image: url(#{$path-to-img}/patterns/bg-color-wave.svg);
}

.modal-body {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.icon-circle-sm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $icon-circle-size-sm;
  height: $icon-circle-size-sm;
  border-radius: 50%;

  > .fe {
    font-size: $icon-circle-font-size;
  }
}

/* ---- Navbar Custom Styles ---- */

// Dropdown image in navbar override
.navbar-nav .dropdown-img-start {
  // Overlay
  &::before {
    background-color: fade-out($primary, 0.5);
  }
}

.navbar {
  padding-top: $font-size-sm;
  padding-bottom: $font-size-sm;
}

.navbar-nav .nav-link {
  font-size: $font-size-sm;
}

.navbar-brand-img {
  max-height: 1.6rem;
  width: auto;
}
