// user-variables.scss
// Use this to overwrite Bootstrap and theme variables

$white: #ffffff !default;
$gray-100: #f9fbfd !default;
$gray-200: #f1f4f8 !default;
$gray-300: #d9e2ef !default;
$gray-400: #c6d3e6 !default;
$gray-500: #abbcd5 !default;
$gray-600: #869ab8 !default;

$gray-700: #5b606c !default;
$gray-800: #2d3242 !default;
$gray-900: #1e273e !default;
$black: #161c2d !default;

$primary: #174291 !default;
$secondary: $gray-700 !default;
$primary-desat: #738dbd !default;
$success: #61fbcf !default;
$info: #61dafb !default;
$warning: #fb8261 !default;
$danger: #df4759 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$header-color: $dark;
$sub-header-color: $gray-700;

// Paths

$path-to-img: "../img" !default;
$path-to-fonts: "../fonts" !default;

// Type overrides

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  src: url("#{$path-to-fonts}/Metropolis/Metropolis-Medium.woff2")
      format("woff2"),
    url("#{$path-to-fonts}/Metropolis/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  src: url("#{$path-to-fonts}/Metropolis/Metropolis-Bold.woff2") format("woff2"),
    url("#{$path-to-fonts}/Metropolis/Metropolis-Bold.woff") format("woff");
}

$font-family-header: "Metropolis", sans-serif !default;
$font-family-base: "Inter", sans-serif;

$font-weight-black: 900 !default;
$font-weight-bolder: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Component overrides
$navbar-nav-link-font-weight: $font-weight-normal !default;

$icon-circle-size: 7.875rem !default;
$icon-circle-size-sm: 4.1875rem !default;

$border-width: 2px !default;
