// user-variables.scss
// Use this to overwrite Bootstrap and theme variables

// Color system
$white: #ffffff !default;
$gray-100: #fafafb !default;
$gray-200: #f6f6f7 !default;
$gray-300: #d6d6d8 !default;
$gray-400: #c1c2c5 !default;
$gray-500: #adaeb1 !default;
$gray-600: #84868b !default;
$gray-700: #545b68 !default;
$gray-800: #32363e !default;
$gray-900: #272a30 !default;
$black: #1b1d22 !default;

$primary: #61dafb !default;
$secondary: $gray-800 !default;
$primary-desat: #93e6fc !default;
$success: #61fbcf !default;
$info: #618dfb !default;
$warning: #fb8261 !default;
$danger: #df4759 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

// Custom colors
$dark-blue: #174291;
$header-color: $black;
$sub-header-color: $gray-700;

// Type overrides
$font-family-base: "Inter", sans-serif;

$font-weight-black: 900 !default;
$font-weight-bolder: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;

// Component overrides
$navbar-nav-link-font-weight: $font-weight-normal !default;

$icon-circle-size: 7.1875rem !default;
