// user.scss
// Use this to write custom SCSS
// $enable-responsive-font-sizes: true;

.hide-sm {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.show-md {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.font-900 {
  font-family: $font-family-base;
  font-weight: $font-weight-black;
  font-style: normal;
}

.font-700 {
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-style: normal;
}

.font-500 {
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-style: normal;
}

.font-300 {
  // Light
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-style: normal;
}

@mixin font-style-mixin($color, $font-size, $font-weight, $text-style) {
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  text-transform: $text-style;
}

@mixin card-bg-mixin($color) {
  background: $color;
}

@mixin card-mixin($color) {
  @include card-bg-mixin($color);
}

@mixin card-icon-mixin($width, $height, $padding) {
  width: $width;
  height: $height;
  align-self: center;
  padding-top: $padding;
}

@mixin card-title-mixin($color, $font-size) {
  font-size: $font-size;
  color: $color;
  text-transform: uppercase;
}

@mixin border-bottom-mixin($border-color, $padding) {
  border-bottom-width: $border-width;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
  padding-bottom: $padding;
}

.card-gradient-fill {
  @include card-mixin(var(--gradient));
}

.card-img-icon {
  @include card-icon-mixin(50%, 40%, 0.75rem);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: $border-width solid $dark;
}

.card-title-dark {
  @include card-title-mixin($white, 1.65rem);

  @include media-breakpoint-up(xl) {
    @include card-title-mixin($white, 1.75vw);
  }
}

.card-title-light {
  @include card-title-mixin($dark, 1.65rem);

  @include media-breakpoint-up(xl) {
    @include card-title-mixin($dark, 1.75vw);
  }
}

.section-header {
  @include font-style-mixin(
    $header-color,
    3.25rem,
    $font-weight-bold,
    uppercase
  );
}

.sub-header {
  @include font-style-mixin(
    $sub-header-color,
    1.4rem,
    $font-family-base,
    normal
  );
  font-weight: 300;
}

.inner-border-dark {
  @include border-bottom-mixin(rgba($bg-blue-light, 0.25), 1rem);
}

.inner-border-light {
  @include border-bottom-mixin(rgba($indigo-dye, 0.25), 1rem);
}

.group-container {
  @include media-breakpoint-up(lg) {
    @include make-container(8.5rem);
  }
  // Medium
  @include media-breakpoint-between(sm, lg) {
    @include make-container(4.5rem);
  }
  // Small, X-Small
  @include media-breakpoint-down(sm) {
    @include make-container(2.5rem);
  }
}

.group-item {
  @include make-col-ready();
  @include media-breakpoint-up(xl) {
    max-width: 20%;
    padding-right: calc(var(--bs-gutter-x) / 3);
    padding-left: calc(var(--bs-gutter-x) / 3);
  }
  @include media-breakpoint-between(md, xl) {
    @include make-col(4);
  }
  @include media-breakpoint-between(sm, md) {
    @include make-col(6);
  }
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    max-width: 65%;
  }
}

@mixin card-icon-bg(
  $name,
  $top-or-bottom,
  $left-or-right,
  $top-padding,
  $bottom-padding
) {
  .icon-#{$name} {
    background-image: url("/src/img/icons/#{$name}.svg");
    position: absolute;
    background-repeat: no-repeat;
    #{$top-or-bottom}: $top-padding;
    #{$left-or-right}: $bottom-padding;
  }
}

@include card-icon-bg("educate", top, auto, 1.5rem, 0);

/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  animation-play-state: paused;
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// testing css below -- need to convert to scss w/ proper variables

.card-footer {
  border-top: 1px solid $ghost-white;
  color: $silver-sonic;
  margin: 1.5rem 0 0;
  padding: 4px 0 0;
  text-align: center;
}

.card-footer .btn {
  margin-top: -0.25rem;
}

.card .stats-container {
  width: 100%;
  margin-top: 2rem;
}

.card .stats {
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card .stats:first-child {
  border-right: 1px solid $ghost-white;
}

.card .stats:last-child {
  border-left: 1px solid $ghost-white;
}

.card .stats h4 {
  font-weight: $font-weight-light;
  margin-bottom: 5px;
}
.card .stats p {
  color: $silver-sonic;
}

.card .stats-correct {
  color: $green;
  font-weight: bolder;
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card-flip-container {
  -webkit-perspective: 800px; /* Safari and Chrome */
  -moz-perspective: 800px; /* Firefox */
  -o-perspective: 800px; /* Opera */
  perspective: 800px;
  position: relative;
}

.card-flip-container .card.flipped {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg); /* IE 9 */
  -moz-transform: rotatey(-180deg); /* Firefox */
  -webkit-transform: rotatey(-180deg); /* Safari and Chrome */
  -o-transform: rotatey(-180deg); /* Opera */
}

/* flip speed of cards  here */
.card-flip-container .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}

/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: $white;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}

.card-flip-container .card .side {
  padding: 0.75rem;
  position: absolute;
  // overflow: auto;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.fade-in {
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-gradient-multicolor {
  background-image: conic-gradient(
    from 52deg at 50% 50%,
    $ua-red 0deg,
    $pacific-blue 33deg,
    $blue 222deg,
    #ea4672 264deg,
    #d5498c 295deg,
    $ua-red 360deg
  );
}
