<div
  class="card rounded-lg shadow-lg my-3 bg-black mt-6"
  style="z-index: 1"
  data-aos="fade-up"
>
  <!-- Body -->
  <div class="rotate-container">
    <input type="checkbox" id="card2" class="more" aria-hidden="true" />
    <div class="content">
      <!-- Card Front -->
      <div class="card-front">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <!-- Badge -->
              <div class="icon-circle-sm bg-info text-white mb-5">
                <i class="fe fe-help-circle"></i>
              </div>
              <p class="text-center card-text mb-6 mb-md-8">
                What is the average age of the first incident of self-harm?
              </p>
              <div class="row">
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <div class="icon-circle-xs bg-primary-desat text-white me-2">
                    {{> alpha-numeric/letter--A }}
                  </div>
                  <span class="lead text-white">13</span>
                </div>
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <div class="icon-circle-xs bg-primary-desat text-white me-2">
                    {{> alpha-numeric/letter--B }}
                  </div>
                  <span class="lead text-white">15</span>
                </div>
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <div class="icon-circle-xs bg-primary-desat text-white me-2">
                    {{> alpha-numeric/letter--C }}
                  </div>
                  <span class="lead text-white">17</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <label class="card-btn btn w-100 btn-lg btn-primary-desat" for="card2">
          <i class="fe fe-eye"></i>&nbsp; Answer
        </label>
      </div>

      <!-- Card Back -->
      <div class="card-back">
        <div class="card-body py-6 py-md-8">
          <div class="row justify-content-center">
            <div class="col-12">
              <!-- Badge -->
              <span class="badge rounded-pill bg-primary-desat-soft mb-5">
                <span class="h6 fw-light text-uppercase px-3">Answer</span>
              </span>
              <p class="text-center card-text mb-6 mb-md-8">
                The average age of the first incident of self-harm is 13 years
                old.
              </p>
              <div class="row">
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <!-- correct answer -->
                  <span class="zap-07">
                    <div class="icon-circle-xs bg-info text-white me-2">
                      {{> alpha-numeric/letter--A }}
                    </div>
                    <span class="lead text-info">13</span>
                  </span>
                </div>
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <div class="icon-circle-xs bg-primary-desat text-white me-2">
                    {{> alpha-numeric/letter--B }}
                  </div>
                  <span class="lead text-white">15</span>
                </div>
                <div class="col-sm d-flex p-sm-2 justify-content-center">
                  <div class="icon-circle-xs bg-primary-desat text-white me-2">
                    {{> alpha-numeric/letter--C }}
                  </div>
                  <span class="lead text-white">17</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <label class="card-btn btn w-100 btn-lg btn-primary-desat" for="card2">
          <i class="fe fe-arrow-left"></i>&nbsp; Return
        </label>
      </div>
    </div>
  </div>
</div>
